@model Inmo.Models.Contrato

@{
    ViewData["Title"] = "Create";
}

    <div class="row">
        <div class="col-md-12 col-lg-6  mx-auto">
            <div class="card card-primary">
                <div class="card-header">
                    <h6>Crear Nuevo Propietario</h6>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="card-body">
                                <!--Aca va el form -->
                                <div class="row">
                                    <div class="col-12">

                                        <!-- Modal -->
                                        <div class="modal fade" id="modalInmueble" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Inmuebles disponibles en las fechas seleccionadas</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body listadoInmuebles">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form asp-action="Create">
                                            <!-- Button trigger modal -->

                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                            <div class="form-group start">
                                                <label asp-for="FechaInicio" class="control-label"></label>
                                                <input asp-for="FechaInicio" class="form-control inicioAlquiler" />
                                                <span asp-validation-for="FechaInicio" class="text-danger"></span>
                                            </div>
                                            <div class="form-group end">
                                                <label asp-for="FechaFin" class="control-label"></label>
                                                <input asp-for="FechaFin" class="form-control finAlquiler" />
                                                <span asp-validation-for="FechaFin" class="text-danger"></span>
                                            </div>


                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalInmueble">
                                                Buscar Inmuebles
                                            </button>



                                            <div class="form-group" hidden>
                                                <label asp-for="InmuebleId" class="control-label"></label>
                                                <input asp-for="InmuebleId" class="form-control inmuebleId" />
                                                <span asp-validation-for="InmuebleId" class="text-danger"></span>
                                            </div>
                                            <h3 class="inmuebleNombre"></h3>
                                            <h4 class="inmuebleAmbientes"></h4>
                                            <h4 class="inmuebleUso"></h4>
                                            <h4 class="seleccionInicio"></h4>
                                            <h4 class="seleccionFin"></h4>






                                            @*<div class="form-group">
            <label asp-for="InquilinoId" class="control-label"></label>
            <input asp-for="InquilinoId" class="form-control" />
            <span asp-validation-for="InquilinoId" class="text-danger"></span>
        </div>*@

                                            <div class="form-group">
                                                <label>Inquilino Nombre/DNI</label>
                                                <select asp-for="InquilinoId" class="form-control seleccion">

                                                    @foreach (var item in ViewBag.Inquilinos)
                                                    {
                                                        <option></option>
                                                        <option value="@item.Id">@item.Nombre - @item.Dni</option>
                                                    }


                                                </select>
                                                <span asp-validation-for="InquilinoId" class="text-danger"></span>
                                            </div>




                                            <div class="form-group">
                                                <label asp-for="Monto" class="control-label"></label>
                                                <input asp-for="Monto" class="form-control inmueblePrecio" />
                                                <span asp-validation-for="Monto" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="NombreGarante" class="control-label"></label>
                                                <input asp-for="NombreGarante" class="form-control" />
                                                <span asp-validation-for="NombreGarante" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="DniGarante" class="control-label"></label>
                                                <input asp-for="DniGarante" class="form-control" />
                                                <span asp-validation-for="DniGarante" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="TelefonoGarante" class="control-label"></label>
                                                <input asp-for="TelefonoGarante" class="form-control" />
                                                <span asp-validation-for="TelefonoGarante" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="MailGarante" class="control-label"></label>
                                                <input asp-for="MailGarante" class="form-control" />
                                                <span asp-validation-for="MailGarante" class="text-danger"></span>
                                            </div>
                                            

                                            <div class="form-group">
                                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div>
                        <a asp-action="Index">Regresar a la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {

        $('#modalInmueble').on('show.bs.modal', function () {
            //alert("ModalMostrada");
            var inicio = $('.inicioAlquiler').val()
            var fin = $('.finAlquiler').val()
            $.ajax({
            url: "@Url.Action("buscar2", "Contrato")",
            type: "GET",
            data: {
                fecha1: inicio,
                fecha2: fin
            },
            error: function (response) {
                console.log("Fallo: ");
                console.log(response.responseText);
            },
            success: function (response) {
                console.log("Exito!");
                $(".listadoInmuebles").html(response);

            }
        });



        })



    })


</script>
    
}
