<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/css/responsive.dataTables.min.css" rel="stylesheet" />

    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />

    <link href="~/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/css/ionicons.min.css" rel="stylesheet" />

</head>
<body>
    <header>


        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
        {
            <partial name="_NavAdminPartial.cshtml" />
        }

        @if (User.Identity.IsAuthenticated && User.IsInRole("Usuario"))
        {
            <partial name="_NavUsuarioPartial.cshtml" />
        }

        @if (!User.Identity.IsAuthenticated)
        {
            <partial name="_NavAnonimoPartial.cshtml" />
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }


            @if (ViewBag.Exito != null)
            {
                <div class="alert alert-success" role="alert">
                


        </div>
            }
            @RenderBody()
        </main>
    </div>

   
    <script src="~/js/all.js"></script>

    <script src="~/js/jquery-3.3.1.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/jquery.dataTables.min.js"></script>

    <script src="~/js/select2.min.js"></script>
    <script src="~/js/dataTables.responsive.min.js"></script>
    <script src="~/js/friconix.js"></script>







    @RenderSection("Scripts", required: false)

    <script>

        $(document).ready(function () {
            $('#tabla').DataTable();
            $(".seleccion").select2({
                placeholder: "Seleccione Un Valor",
                allowClear: true
            });
        });
    </script>

    <script>


    </script>
</body>
</html>
