



    <div class="row">
        <div class="col-md-12 col-lg-6  mx-auto">


            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Usted va a eliminar un registro</h3>
                </div>

                <!-- aca inicia el form !-->
                <div class="card-body">
                    <form asp-action="Delete">
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        <a asp-action="Index">Regresar</a>
                    </form>

                </div>
                <!-- /.card-body -->


                <div class="card-footer">
                    
                </div>
                <!-- aca inicia el form !-->
            </div>

        </div>
    </div>
    
    

